/*banner*/
#banner span {
    background-color: #EBF0F0;
    color: #0E0B16;
    position: absolute;
    width: 34rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.4rem;
}

#banner .box1 {
    left: 4.8rem;
    top: 12rem;
}

#banner .box2 {
    left: 10rem;
    top: 30rem;
}